<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="userDaoBean" class="com.f.spring6.dao.UserDao"/>
    <bean id="userService2Bean" class="com.f.spring6.service.UserService2">
        <!--
            构造注入
            index属性指定参数下标，第一个参数是0，第二个参数是1...
            ref属性指定注入的bean的id
        -->
        <!--指定构造方法的第一个参数，下标是0-->
        <!--<constructor-arg index="0" ref="userDaoBean"/>-->
        <!--指定构造方法的第二个参数，下标是1-->
        <!--<constructor-arg index="1" ref=""/>-->
        <!--也可以用name属性来指定参数-->
        <constructor-arg name="userDao" ref="userDaoBean"/>
    </bean>
</beans>