<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--根据名字进行自动装配-->
    <bean id="orderServiceBean" class="com.f.spring6.service.OrderService" autowire="byName"/>
    <!--id一般也叫做bean的名称-->
    <!--根据名字进行自动装配的时候，被注入的对象的bean的id不能随便写。
		set方法的方法名去掉set，剩下单词首字母小写。-->
    <bean id="orderDao" class="com.f.spring6.dao.OrderDao"/>

    <!--<bean id="orderServiceBean" class="com.f.spring6.service.OrderService">-->
    <!--    <property name="orderDao" ref="orderDaoBean"/>-->
    <!--</bean>-->
    <!--<bean id="orderDaoBean" class="com.f.spring6.dao.OrderDao"/>-->
</beans>