<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--单例模式+构造注入下的循坏依赖-->
    <bean id="husband" class="com.f.spring6.bean2.Husband">
        <constructor-arg name="name" value="jack"/>
        <constructor-arg name="wife" ref="wife"/>
    </bean>
    <bean id="wife" class="com.f.spring6.bean2.Wife">
        <constructor-arg name="name" value="lucy"/>
        <constructor-arg name="husband" ref="husband"/>
    </bean>
</beans>